@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    @font-face {
        font-family: 'Mabry Pro';
        font-weight: 300 400 500 700;
        font-display: swap;
        font-style: normal;
        src: url("../fonts/MabryPro-Regular.woff2") format("woff2"),
            url("../fonts/MabryPro-Regular.woff") format("woff"),
            url("../fonts/MabryPro-Regular.ttf") format("truetype"),
            url("../fonts/MabryPro-Medium.woff2") format("woff2"),
            url("../fonts/MabryPro-Medium.woff") format("woff"),
            url("../fonts/MabryPro-Medium.ttf") format("truetype"),
            url("../fonts/MabryPro-Light.woff2") format("woff2"),
            url("../fonts/MabryPro-Light.woff") format("woff"),
            url("../fonts/MabryPro-Light.ttf") format("truetype"),
            url("../fonts/MabryPro-Bold.woff2") format("woff2"),
            url("../fonts/MabryPro-Bold.woff") format("woff"),
            url("../fonts/MabryPro-Bold.ttf") format("truetype");
    }

    img {
        @apply object-cover object-center;
    }

    .custom-scrollbar {
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .custom-scrollbar::-webkit-scrollbar {
        height: .375rem;
        width: .25rem;
    }
}
